image: node:latest

stages:
  - build

build:
  stage: build
  script:
    - yarn install
    - npx ng build --prod
  cache:
    paths:
      - node_modules/
      - .yarn
  artifacts:
    when: on_success
    expire_in: 1 day
    paths:
      - dist/
  only:
    - master