<div id="container">
  <div id="store">
    <h1>{{store.title}}</h1>
    <ul class="sections">
      <li *ngFor="let section of store.sections">
        <ul *ngIf="section.isOnSale">
          <li *ngFor="let subsection of section.subsections">
            <h3>{{subsection.title}}</h3>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="left">
              <mat-card fxFlex="0 1 calc(40% - 20px)" class="item-card" *ngFor="let item of subsection.items"
                (click)="openDialog(item.uuid)">
                <mat-card-title>{{item.title}}</mat-card-title>
                <img *ngIf="item.imageUrl" mat-card-image [src]="item.imageUrl">
                <mat-card-content>
                  {{item.description}}
                  <br>
                  <br>
                  {{item.price/100 | currency:'NZD':'symbol-narrow':'1.2-2'}}
                </mat-card-content>
              </mat-card>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <app-cart id="cart" [cartItems]="cartItems" [orderId]="orderId"></app-cart>
</div>