#container {
  display: flex;
}

#store {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

#cart {
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
  position: fixed;
  right: 8%;
}

h1, h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
}

.sections {
  display: block;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
}

.item-image {
  height: 150px;
  width: 150px;
}

.item-details {
  padding: 10px;
  flex-grow: 1;
}