<h2 class="mat-title">Cart</h2>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [formControl]="name">
</mat-form-field>
<ul>
  <mat-card *ngFor="let item of cartItems" class="mat-body-1">
    <div class="mat-body-2">{{item.title}}<span class="price">{{item.price/100 | currency}}</span></div>
    <ul>
      <li *ngFor="let customization of item.customizations">
        {{customization.title}}
        <ul>
          <li *ngFor="let option of customization.options">
            {{option.title}}<span *ngIf="option.price" class="price">{{option.price/100 | currency}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <button mat-flat-button (click)="remove(item)">Remove</button>
  </mat-card>
</ul>
<mat-divider></mat-divider>
<br>
<div id="total" class="mat-body-1">
  Total: <span class="price">{{total/100 | currency}}</span>
</div>
<br>
<div id="submit" (click)="submit()">
  <button mat-flat-button>Submit</button>
</div>