<h2>Cart</h2>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [formControl]="name">
</mat-form-field>
<mat-list>
  <div *ngFor="let item of cartItems">
    <mat-list-item>
      <h4 matLine>{{item.title}}</h4><span class="price">{{item.price/100 | currency}}</span>
    </mat-list-item>
    <mat-list style="margin-left:30px;">
      <div *ngFor="let customization of item.customizations">
        <mat-list-item>
          <h5 matLine>{{customization.title}}</h5>
        </mat-list-item>
        <mat-list>
          <div *ngFor="let option of customization.options">
            <mat-list-item>
              <h6 matLine>{{option.title}} </h6><span *ngIf="option.price" class="price">{{option.price/100 | currency}}</span>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
    </mat-list>
    <button mat-flat-button (click)="remove(item)">Remove</button>
  </div>
</mat-list>
<div id="total">
  Total: <span class="price">{{total/100 | currency}}</span>
</div>
<br>
<div id="submit" (click)="submit()">
  <button mat-flat-button>Submit</button>
</div>