h2 {
  text-align: center;
}

h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin-left: 0px;
}

.price {
  float: right;
}

#submit {
  text-align: center;
}