ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 1em;
  display: block;
}

h2 {
  text-align: center;
}

h5, h6 {
  margin: 0;
  padding: 0;
}

.price {
  float: right;
}

#submit {
  text-align: center;
}